* {
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Constants for colors*/
:root {
  --brand-green: #093f26;
  --hoover-green: #0c5f38;
  --dark-background: #202020;
  --dark-accent: #161616;
  --dark-header: #000;
  --light-text-color: #ddd;
  --background-color: #f8f8f8;
  --dark-link-color: #60ae8a;
  --dark-link-hover: #8edbb0;
  --text-color: #333;
  --shdadows-box: rgba(0, 0, 0, 0.3);
  --hero-bg: #eee;
}

/*General titles, subtitles*/
h2 {
  font-size: 2rem;
  font-weight: 700;
}

/*--------------- body  ----------*/

body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  background: var(--background-color);
  color: var(--text-color);
}

body.dark {
  background: var(--dark-background);
  color: var(--light-text-color);
}

/*-------- header & footer------*/

header {
  background: var(--brand-green);
  color: var(--light-text-color);
  padding: 1rem;
  position: sticky;
  top: 0;
}

footer {
  text-align: center;
  padding: 1rem;
  background: var(--brand-green);
  color: var(--light-text-color);
}

body.dark header,
body.dark footer {
  background: var(--dark-header);
}
/* ---------- navbar -------------*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

/*Navbar Links*/
.nav-links a {
  color: var(--light-text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
  color: var(--dark-link-color);
}

.nav-links a.active {
  font-weight: bold;
}

body.dark .nav-links a {
  color: var(--light-text-color);
}

body.dark .nav-links a:hover,
body.dark .nav-links a.active {
  color: var(--hoover-green);
}

/*navbar icon*/
.navbar-icon {
  transition: all 0.3s;
  height: 30px;
  width: auto;
  display: block;
}

.navbar-icon:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

/*Navbar*/
.btn-navbar {
  display: inline-block;
  margin: 0.25rem;
  padding: 0.5rem 1rem;
  background: var(--brand-green);
  color: var(--light-text-color);
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid var(--hoover-green);
  transition: all 0.3s;
}

.btn-navbar:hover {
  transform: scale(1.1);
  background-color: var(--hoover-green);
  opacity: 0.9;
}
/* --------------- hero ------------*/

.hero {
  text-align: center;
  padding: 4rem 2rem;
  background: var(--hero-bg);
}

.hero span {
  color: var(--brand-green);
}

body.dark .hero {
  background: var(--dark-accent);
  color: var(--light-text-color);
}

body.dark .hero span {
  color: var(--hoover-green);
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* for mobile responsiveness */
  gap: 2rem;
}

.hero-text {
  flex: 1 1 300px; /* text grows and shrinks */
}

.hero-text h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.hero-text button {
  align-content: center;
}

.hero-image {
  flex: 0 0 300px; /* fixed width for image */
}

.hero-image img {
  width: 100%;
  border-radius: 15%; /* makes it circular */
  object-fit: cover;
}

/* ---------------- mind map ---------------*/

.mindmap-container {
  position: relative;
  width: 600px;
  height: 800px;
  margin: 0 auto;
}

.hero-image.center-node {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex: 0 0 200px; /* Tu peux ajuster la taille */
  /*width: 350px;*/
  /*height: 400px;*/
  border-radius: 10%;
  overflow: hidden;
  box-shadow: 0 0 10px var(--shdadows-box);
}

.node {
  position: absolute;
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mindmap-button {
  padding: 10px 20px;
  background-color: var(--brand-green);
  color: var(--light-text-color);
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
  transition: all 0.3s;
}

.mindmap-button:hover {
  background-color: var(--hoover-green);
  color: var(--light-text-color);
  transform: scale(1.1);
}

.node {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: 0 0; /* Point d'origine pour la rotation */
}

/* Positionnement des 6 nœuds */
.node-1 {
  transform: translate(-50%, -50%) rotate(0deg) translate(350px) rotate(0deg);
}
.node-2 {
  transform: translate(-50%, -50%) rotate(60deg) translate(350px) rotate(-60deg);
}
.node-3 {
  transform: translate(-50%, -50%) rotate(120deg) translate(350px)
    rotate(-120deg);
}
.node-4 {
  transform: translate(-50%, -50%) rotate(180deg) translate(350px)
    rotate(-180deg);
}
.node-5 {
  transform: translate(-50%, -50%) rotate(240deg) translate(350px)
    rotate(-240deg);
}
.node-6 {
  transform: translate(-50%, -50%) rotate(300deg) translate(350px)
    rotate(-300deg);
}

/*-------------- section --------*/

.section {
  padding: 4rem 2rem;
  max-width: 900px;
  margin: auto;
}

.section span {
  color: var(--brand-green);
}

/*-------------- subsection --------*/
.subsection {
  margin-bottom: 1rem; /* space between subsections */
  padding: 1.5rem;
  background: var(--background-color);
  border-radius: 5px;
}

body.dark .subsection {
  background: var(--dark-background);
  color: var(--light-text-color);
}

/*------------- lists, bullets points ----------*/
.bullet-list {
  list-style-type: disc !important; /* ensure bullets are visible */
  list-style-position: inside; /* place bullets inside the content box */
  padding-left: 1.5rem !important; /* reintroduce padding for visibility */
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.bullet-list-elt {
  margin-bottom: 0.3rem;
}

/*---------------projects grid-----------*/

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

/*-------------- Project card------------*/
.project-card {
  padding: 1.5rem;
  background: var(--light-text-color);
  border-radius: 10px;
  box-shadow: 0 2px 6px var(--shdadows-box);
}

body.dark .project-card {
  background: var(--dark-background);
}
/* --------------- subtabs --------- */

/*Subtabs*/
/* Just to give indication that it's being clicked */
label:active {
  color: #dce775;
}

.tab-radio {
  display: none;
}

body.dark .tab-content {
  background: var(--dark-background);
}

/* Tabs behaviour, hidden if not checked/clicked */
.sub-tab-content {
  display: none;
  margin-top: 20px;
  border: 1px solid var(--hoover-green);
}

.tab-radio:checked + .tab-content,
.tab-radio:checked + .sub-tab-content {
  display: block;
}

/* Sub-tabs */
.sub-tabs-container label {
  color: white;
  min-width: 150px;
  text-align: center;
  background-color: var(--brand-green);
  box-shadow: 2px 4px 6px var(--shdadows-box);
  padding: 12px;
  margin: 5px;
  border-radius: 8px;
  text-decoration: none;
}

.sub-tabs-container label:active {
  color: var(--text-color);
  box-shadow: 2px 1px 1px var(--shdadows-box);
}

.sub-tabs-container label:hover {
  background-color: var(--hoover-green);
}

.sub-tabs-container {
  text-align: center;
  margin: 10px;
}

/* Tabs Content */
.tab-content {
  padding: 10px;
  background-color: var(--background-color);
  display: none;
  margin: 5px;
  /*border: 1px solid var(--hoover-green);*/
}

/*---------------------------shifting items-----------------------------------*/
/* Container for each item */
.shifting-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  margin: 5rem 0;
}

/* Text block */
.shifting-text {
  flex: 1;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: center;
}

/* Image block */
.shifting-image {
  flex: 1;
  max-width: 400px;
}
.shifting-image img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 10px var(--shdadows-box);
}

/* Reverse layout (image left, text right) */
.shifting-item.reverse {
  flex-direction: row-reverse;
}

/* Responsive stacking */
@media (max-width: 768px) {
  .shifting-item,
  .shifting-item.reverse {
    flex-direction: column;
    text-align: center;
  }

  .shifting-image {
    max-width: 300px;
  }
}

/*----------- Links -------------*/

.link {
  color: var(--brand-green);
  text-decoration: underline;
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--hoover-green);
}

body.dark .link {
  color: var(--dark-link-color); /* readable green */
}

body.dark .link:hover {
  color: var(--dark-link-hover); /* lighter hover green */
}

/*----------- Buttons -------------*/

/* General Button */
.btn {
  display: block;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-top: 15px;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  justify-content: center;
  color: white;
  transition: background 0.3s ease, transform 0.2s ease;
  background: var(--brand-green);
  gap: 1rem;
}

.btn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

/*Contact buttons container*/
.contact-buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
}
